#bloc {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    margin: auto;
}

.bloc{
	max-width: 100%;
}
.bloc2{
	padding-right: 136px;
}

.col-md-6 offset-2{
	max-width: 100%;
}
