.hidden{

	position: absolute;
  	border: 0;
  	height: 1px;
  	width: 1px;
  	padding: 0;
  	overflow: hidden;
  	clip: rect(10px 10px 10px 10px); /* IE6 & IE7 */
  	clip: rect(10px, 10px, 10px, 10px);

}

.hidden:target {

  	position: relative;
  	height: auto;
  	padding: initial;
  	clip: initial;
  	width: 45%;
  	margin: auto;

}